@media (max-width: 480px) {

    /* Styles for small mobile devices */
    .Achivement {
        
        width: 29rem;
        padding-left: 1em;
    }

    .Achivement_Heading {
        font-size: 01.1em;
    }

    .Achivement_Card_Text_Event_Name {
        font-size: 1em;
        margin-bottom: 0.6em;
        text-align: center;
    }

    .Achivement_Card_Text_About_Event {
        font-size: 0.7em;
        font-weight: 400;

        text-align: center;
        margin-bottom: 1em;
        
    }

    .All_Achivement_Card {
        display: flex;
        flex-wrap: wrap;
    }


    /* Achivement_Card */
    .Achivement_Card {
        width: 19em;
        padding: 0%;
        border: solid 4px black;
        margin-right: 2em;
        margin-top: 1em;
    }

    .Achivement_Card_Photo img {
        width: 19em;
    }
}