@media (min-width: 1025px) and (max-width: 1280px) {
    /* Styles for small laptops */
    .Project_Card_Tools_All_Icons {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 22em;

    }
}